$debug_bg_color: #1d2327;
$debug_color: #f0f0f1;

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;600&display=swap');

.overpass {
    font-family: 'Overpass Mono', monospace;
}